@page "/"

<p class="mb-0">This is a sample app to display the issue with the HTML5 video control in MAUI iOS.  Notice the "playsinline" attribute is ignored. "webkit-playsinline" was also added for older versions of iOS.</p>.

<video playsinline webkit-playsinline muted autoplay class="w-100 mw-100" src="https://ia800701.us.archive.org/26/items/SampleVideo1280x7205mb/SampleVideo_1280x720_5mb.mp4" controls controlslist="nodownload">
    Your browser does not support this video player.
</video>
